.hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.background::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 20;
}

.description {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}

.description h2 {
  font-size: 62px;
  font-weight: none;
  font-family: var(--poppins);
  color: var(--white);
  line-height: 72px;
}

.description p {
  color: var(--white);
}

.button {
  margin-top: 17px;
}

.button button {
  background-color: transparent !important;
  outline: 2px solid var(--white);
  color: var(--white) !important;
  transition: all 0.3s ease;
  letter-spacing: 2px;
  padding: 4px 16px;
  font-weight: normal;
}

/* .button button:hover {
  color: var(--white) !important;
  background-color: var(--black) !important;
}

.button button:active {
  color: var(--white) !important;
  background-color: var(--secondary) !important;
} */

@media screen and (max-width: 790px) {
  .description {
    width: 80%;
  }
  .description h2 {
    font-size: 48px;
    line-height: 54px;
  }
}
@media screen and (max-width: 420px) {
  .description h2 {
    font-size: 34px;
    line-height: 44px;
  }

  .description p {
    font-size: 14px;
  }
}
