/* NavBar */
nav {
  overflow: hidden;
  font-family: var(--poppins);
  height: 3.7rem;
  box-shadow: 1px -3px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px -3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -3px 5px 0px rgba(0, 0, 0, 0.75);
}

a {
  color: white;
  text-decoration: none;
}

.blur {
  background-color: var(--primary);
}

.fixed {
  /* position: -webkit-sticky; */
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  z-index: 1000;
}

.full {
  height: 100%;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.font-poppins {
  font-family: var(--poppins);
}

/* My Costumize */

nav .nav-wrapper .items a {
  display: flex;
  gap: 4px;
}

nav .nav-wrapper .items a:hover {
  color: var(--secondary);
  transition: all 0.4s;
}

nav .nav-wrapper .items {
  display: flex;
  flex-grow: 3;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 2rem;
}

/* My Costumize */

.logo {
  margin-left: 20px;
  flex-grow: 1;
  color: var(--secondary);
  font-family: "Pacifico";
}

.logo h1 {
  color: transparent;
  background: linear-gradient(
    425deg,
    var(--secondary) 22%,
    transparent 19%,
    transparent 19%,
    #ffff 25%,
    transparent 50%,
    transparent 50%
  );
  -webkit-background-clip: text;
  background-clip: text;
}

/* SVG */
.nav_svg {
  width: 1.5rem;
}
/* SVG */

/* NavBar */

/* Show text */
/* nav .nav-wrapper .items .home:hover::after {
  transition: all 0.5s;
  transform: translateX(20);
  content: "home";
} */
/* Show text */

.item_name {
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* BREAKPOINTS */

@media screen and (max-width: 640px) {
  .fixed {
    top: none;
    bottom: 0;
  }
  .item_name {
    display: none;
  }

  nav .nav-wrapper .items {
    display: flex;
    flex-grow: 3;
    justify-content: center;
    flex-direction: row;
    gap: 1.5rem;
  }

  .logo h1 {
    color: transparent;
    background: linear-gradient(
      425deg,
      var(--secondary) 47%,
      transparent 19%,
      transparent 19%,
      #ffff 90%,
      transparent 50%,
      transparent 50%
    );
    -webkit-background-clip: text;
    background-clip: text;
  }
}

/* BREAKPOINTS */
