.box {
  width: 290px;
  height: 410px;
  color: var(--white);
  animation: fadein 0.9s forwards;
  border-right: 1px solid rgba(200, 199, 199, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-top: 17px;
  opacity: 0;
  /* box-shadow: 0 0 8px rgba(255, 255, 255, 0.1); */
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: 10px;
  background-color: rgba(41, 33, 29, 0.4);
  z-index: 99;
  border-radius: 4px;
  opacity: 1;
}

.container .overlay__main {
  position: absolute;
  top: 5px;
  left: 10px;
}

.container .overlay__main span {
  font-size: 0.5rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  border-radius: 5px;
  padding: 3px 10px;
  /* text-shadow: 0 0 1px rgba(0, 0, 0, 0.7); */
  font-weight: 600;
  color: black;
 
}

/* Warna untuk Cara main */
.Dipukul {
  background-color: var( --kategory1-primary);
}
.Digesek {
  background-color: var( --kategory2-primary);
 
}
.Ditiup {
  background-color: var( --kategory3-primary);
 
}
.Dipetik {
  background-color: var( --kategory4-primary);
}
.Digoyang {
  background-color: var( --kategory5-primary);
}
.Ditabuh {
  background-color: var( --kategory6-primary);
}

/* Warna untuk Cara main */
.container::before {
  content: "";
  display: block;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--green);
  top: -80px;
  right: -80px;
  transition: all 0.3s ease-in-out;
  z-index: -10;
}
.container::after {
  content: "";
  display: block;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--secondary);
  bottom: -80px;
  left: -80px;
  transition: all 0.3s ease;
  z-index: -9;
}

.container:hover::before {
  transform: scale(1.3);
}
.container:hover::after {
  transform: scale(1.3);
}

.box .container .img {
  width: 100%;
  height: 180px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: relative;
}

.box .container .img img {
  width: 210px;
  object-fit: cover;
  overflow: hidden;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

.box .container:hover .img img {
  transform: translateY(-10px) rotate(-15deg) scale(1.1);
}

.boxParagraf {
  font-size: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.aksi {
  display: flex;
  height: 80px;
  align-items: baseline;
  justify-content: space-between;
}

.aksi .history {
  display: flex;
  align-items: baseline;
  gap: 15px;
  margin-right: 12px;
  opacity: 0.7;
}

.aksi .history .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.aksi .history .icon span {
  font-size: 11px;
}
.button button {
  border-radius: 3px;
  margin-left: 12px;
}

.box .container .button button {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.box .container .button button::before {
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  position: absolute;
  background-color: var(--white);
  z-index: -8;
  left: -100%;
  transition: all 0.3s ease;
  transition-delay: 0.2s;
}
.box .container .button button::after {
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: -8;
  left: -100%;
  transition: all 0.3s ease;
}
.box .container .button button:hover::before {
  left: 0;
}
.box .container .button button:hover::after {
  left: 0;
}
.box .container .button button:hover {
  color: var(--black) !important;
  font-weight: bold;
}
/* 
.button button:hover {
  background-color: var(--primary) !important;
} */
