button {
  outline: none;
  border: none;
  background-color: var(--secondary);
  color: var(--white);
  font-size: 16px;
  padding: 8px;
  width: max-content;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  letter-spacing: 1px;
  cursor: pointer;
}
