.artikel {
  margin-top: 4.7rem;
  overflow: hidden;
}

.artikelContainer .mainImg {
  width: 100%;
  object-fit: cover;
}

.viewDetail {
  width: 100%;
  height: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-top: 17px;
}
.viewDetail a .down > span {
  margin-top: 5px;
}

a {
  text-decoration: none;
  color: var(--white);
}
.viewDetail h3 {
  display: block;

  /* margin-left: -50px;s */
}

.viewDetail .down {
  width: 100%;
  /* border: 1px solid yellow; */
  margin-left: 50%;
  margin-top: 10px;
}
.viewDetail .down span {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  margin: -14px;
  animation: animate 2s infinite;
}

.viewIframe {
  border-radius: 1rem;
}

.viewDetail span:nth-child(2) {
  animation-delay: -0.2s;
}
.viewDetail span:nth-child(3) {
  animation-delay: -0.4s;
}

.counter {
  margin-top: 2rem;
  height: 60px;
}
.detailCounter {
  /* background-color: var(--white); */
  display: grid;
  place-items: center;
}

.counterWrapper {
  /* border: 1px solid red; */
  display: flex;
  gap: 12px;
  flex-direction: row;
  /* padding-top: 70px; */
  justify-content: space-evenly;
}

.title_description {
  color: var(--white);
}

/* Custom button */

/* Custom button */

#counterWrapper button {
  background-color: var(--white);
  width: 170px;
  height: 45px;
  border-radius: 5px;
  position: relative;
  color: var(--white);
  z-index: 90;
  text-align: left;
  outline: none;
  border: none;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

#counterWrapper button span {
  margin-left: 7px;
  font-weight: bold;
  letter-spacing: 1px;
}

#counterWrapper button svg.icon__artikel {
  margin-right: -10px;
  margin-bottom: 2px;
  transform: rotate(12deg);
}
#counterWrapper button.no__active:hover:hover svg.icon__artikel {
  animation: 0.7s jetBusSvg ease-out;
}

#counterWrapper button svg.icon__video {
  margin-left: 67px;
  margin-bottom: 2px;
  transform: rotate(12deg);
}

#counterWrapper button.no__active:hover:hover svg.icon__video {
  animation: 0.7s jetBusSvg ease-out;
}

#counterWrapper button::before {
  position: absolute;
  content: "";
  display: block;
  width: 55%;
  height: 100%;
  left: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: var(--yellow);
  clip-path: polygon(0% 0%, 75% 0%, 82% 53%, 75% 100%, 0% 100%);
  z-index: -90;
  transition: all 0.3s ease;
}

#counterWrapper button.active::before {
  width: 150%;
}

#counterWrapper button.no__active:hover::before {
  animation: 0.6s jetBus forwards ease-out;
}

/* Watch */
.watch {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 3.7rem;
}
.watchCard {
  border-radius: 10px;
  overflow: hidden;
  padding: 7px;
  width: 350px;
  height: 320px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(60, 64, 67, 0.6) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.3) 0px 1px 3px 1px;
}

.watch .watchCard iframe {
  border-radius: 10px;
  width: 100%;
  height: 200px;
}

.watchCard .button {
  width: 93%;
  height: 35px;
  margin-top: 34px;
  cursor: pointer;
}

.watchCard button {
  padding: 0;
  width: 100%;
  height: 35px;
  font-size: 14px;
}

/* .btnFrame:hover {
} */
/* Watch */

.text-animation {
  -webkit-animation: tracking-in-contract 0.8s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.shortDescription {
  height: 120px;
  margin-top: -8px;
  padding: 12px;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--green);
  align-items: center;
}

.shortDescription .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  padding: 7px;
  color: var(--white);
}

.shortDescription .item h6 {
  font-size: 14px;
  margin-bottom: -12px;
}

.shortDescription .item p {
  font-size: 12px;
}

.shortDescription .icon {
  width: 52px;
}

.shortDescription .item p {
  margin-top: 5px;
}

.longDescription {
  /* margin-top: 120px; */
  display: flex;
  align-items: center;
  padding: 40px;
  gap: 30px;
}

.longDescription .secondImg img {
  width: 430px;
  object-fit: cover;
}

.longDescription .secondImg img:hover {
  transition: all 0.3s;
  filter: drop-shadow(6px 5px 9px var(--green));
}

.longDescription .paragraf {
  color: var(--white);
}

.longDescription .paragraf p {
  text-indent: 22px;
  text-align: justify;
}

.longDescription .paragraf p:nth-child(2) {
  margin-top: 20px;
}

.action {
  display: flex;
  height: 90px;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
.action .save {
  margin-top: 35px;
}

@media screen and (max-width: 920px) {
  .artikelContainer .mainImg img {
    width: 360px;
    object-fit: cover;
  }

  .artikel .artikelContainer .shortDescription .icon {
    width: 42px;
  }
  .longDescription {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .longDescription .secondImg img {
    width: 330px;
  }
  .viewDetail .down {
    margin-top: 15px;
  }

  .watchCard {
    height: 340px !important;
  }
}

@media screen and (max-width: 640px) {
  .artikelContainer .mainImg img {
    width: 320px;
    object-fit: cover;
  }

  .viewDetail {
    margin-top: -10px;
  }

  .viewDetail .down {
    margin-top: 20px;
  }

  .shortDescription .icon {
    width: 42px;
  }

  .shortDescription .item h6 {
    font-size: 12px;
    margin-bottom: -12px;
  }

  .shortDescription .item p {
    font-size: 10px;
  }

  .longDescription .paragraf p {
    margin-top: 10px;
  }

  .longDescription .secondImg img {
    width: 300px;
  }

  .watch {
    gap: 1rem;
  }

  .watchCard {
    height: 300px;
  }
}

@media screen and (max-width: 420px) {
  .shortDescription .icon {
    width: 52px;
  }

  .action {
    gap: 30px;
  }
  .watch {
    margin-top: 3.7rem;
    gap: 1.4rem;
  }
}
