.akun_box {
  height: 20vh;
  width: 100%;
  display: flex;
  background-color: var(--secondary);
  align-items: center;
  gap: 5rem;
  /* border: 1px solid red; */
}

/* .akun_detail {
  border: 1px solid blue;
} */
.akun_detail h1 {
  color: var(--white);
}

.akun_image img {
  /* border: 1px solid red; */
  display: absolute;
  margin-left: 2rem;
  transform: translateY(-5rem);
  width: 200px;
  height: 200px;
}

.akun_utility {
  display: flex;
  align-items: center;
  color: #c6c4c2;
  opacity: 70%;
  font-size: 15px;
}

.akun_utility span > svg {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 720px) {
  .akun_box {
    height: 40vh;
    flex-direction: column;
    gap: 0;
  }
  .akun_image img {
    margin-left: 0;
  }
  .akun_detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transform: translateY(-5rem);
  }
  .akun_detail h1 {
    font-size: 20px;
  }
}
