.riwayat {
  /* border: 1px solid red; */
  width: 900px;
  overflow: hidden;
}

.riwayat_header {
  padding-left: 1.5rem;
  padding-top: 1rem;
  font-size: 14px;
}
.box_musik {
  /* border: 1px solid red; */
  width: 100%;
  height: 280px;
  display: grid;
  place-items: center;
}
.musik_wrapper {
  /* border: 1px solid blue; */
  background-color: var(--black);
  width: 95%;
  height: 100%;
  border-radius: 30px;
  display: flex;
  padding: 5px;
  gap: 1rem;
}

.musik_card {
  /* overflow: hidden; */
  /* border: 1px solid red; */
  background-color: var(--primary);
  width: 200px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.musik_card .img {
  /* border: 1px solid red; */
  width: 100%;
  height: 100px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: relative;
}
.musik_card .img img {
  width: 80px;
  object-fit: cover;
  overflow: hidden;
  background-color: transparent;
}

.musik_card h3 {
  font-size: 15px;
}
.musik_card p {
  font-size: 10px;
}

@media screen and (max-width: 1080px) {
  .musik_card:last-child {
    display: none;
  }

  .musik_wrapper {
    width: 80%;
  }
}
@media screen and (max-width: 720px) {
  .riwayat {
    height: 0px;
    display: none;
  }
}
