.beranda {
  margin-top: 4rem;
}
.beranda .berandaContainer {
  padding: 18px;
}
.beranda .berandaContainer .title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.beranda .berandaContainer .title h1,
.beranda .berandaContainer .title h1 span {
  text-align: center;
  color: var(--white);
  font-size: 62px;
}

.filter-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 48px;
}

footer {
  margin-top: 10px;
}

/* breakpoints */

@media screen and (max-width: 1120px) {
  .beranda .berandaContainer .title h1,
  .beranda .berandaContainer .title h1 span {
    color: var(--white);
    font-size: 42px;
  }
}

@media screen and (max-width: 790px) {
  .beranda .berandaContainer .title h1,
  .beranda .berandaContainer .title h1 span {
    color: var(--white);
    font-size: 28px;
  }
}

@media screen and (max-width: 420px) {
  .beranda .berandaContainer .title h1,
  .beranda .berandaContainer .title h1 span {
    color: var(--white);
    font-size: 18px;
  }

  .filter {
    flex-direction: column;
    gap: 20px;
  }
}
