.beranda {
  margin-top: 4rem;
}
.beranda .berandaContainer {
  padding: 18px;
}
.beranda .berandaContainer .title {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.beranda .berandaContainer .title h1 {
  text-align: center;
  color: var(--white);
  font-size: 54px;
  text-shadow: 0px 0px 0 rgb(230, 230, 230), 0px 1px 0 rgb(205, 205, 205),
    0px 2px 0 rgb(180, 180, 180), 0px 3px 2px rgba(255, 255, 255, 0.15),
    0px 3px 1px rgba(255, 255, 255, 0.5), 0px 0px 2px rgba(255, 255, 255, 0.2);
  opacity: 0;
}

.beranda .berandaContainer .title h1.title1 {
  animation: 1s fadeLeft forwards ease;
}
.beranda .berandaContainer .title h1.title2 {
  animation: 1s fadeRight forwards ease;
}

.filter-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 48px;
  margin-top: 23px;
}

footer {
  margin-top: 10px;
}

/* breakpoints */

@media screen and (max-width: 1120px) {
  .beranda .berandaContainer .title h1,
  .beranda .berandaContainer .title h1 span {
    color: var(--white);
    font-size: 42px;
  }
}

@media screen and (max-width: 790px) {
  .beranda .berandaContainer .title h1,
  .beranda .berandaContainer .title h1 span {
    color: var(--white);
    font-size: 28px;
    font-weight: 600;
    text-shadow: 0px 0px 0 rgb(230, 230, 230), 0px 1px 0 rgb(205, 205, 205),
      0px 2px 0 rgb(180, 180, 180), 0px 3px 2px rgba(255, 255, 255, 0.15);
  }
}

@media screen and (max-width: 420px) {
  .beranda .berandaContainer .title h1,
  .beranda .berandaContainer .title h1 span {
    color: var(--white);
    font-size: 18px;
  }

  .filter {
    flex-direction: column;
    gap: 20px;
  }
}
