.filter {
  margin-bottom: 10px;
}
.form-control {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 250px;
}

.form-control label {
  color: var(--white);
}

.form-control select {
  padding: 3px;
  letter-spacing: 1px;
}

.form-control select option {
  font-size: 16px;
}

.dropdown {
  width: 200px;
}
