* {
  /* variabel warna */
  --white: #fafafa;
  --primary: #29211d;
  --secondary: #554031;
  --green: #5c5947;
  /* font */
  --agbalumo: "Agbalumo", cursive;
  --poppins: "Poppins", sans-serif;

  margin: none;
  padding: none;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-color: var(--white);
  font-family: var(--poppins);
}
