* {
  /* variabel warna */
  --white: #fafafa;
  --primary: #29211d;
  --secondary: #554031;
  --green: #5c5947;
  --black: rgb(2, 2, 2);
  /* font */
  --agbalumo: "Agbalumo", cursive;
  --poppins: "Poppins", sans-serif;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  font-family: var(--poppins);
}

.linkDom {
  text-decoration: none;
}

/* animasi */

@keyframes fadein {
  from {
    transform: translateX(-90px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
