footer {
  height: 3.5rem;
  color: var(--green);
  letter-spacing: 0.6px;
  border-top: 1px solid rgba(85, 64, 49, 0.3);
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

@media screen and (max-width: 420px) {
  footer {
    height: 1.2rem;
  }
}
